@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,100&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1563300365-9c77e472e7a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin:0;
}

h1 {
    font-size: 3rem;
    margin-top: 5rem;
}

.countdown-container {
    display:flex;
    text-align: center;
}

.big-text {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-container span {
    font-size: 1.5rem;
}